/* ------------ common -------------- */ 
.clear::after {
    content: '';
    clear: both;
    display: block;
}

.circles {
    position: absolute;
    top: 14px;
    left: 25px;
}
.circles > .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: transparent;
    /* box-shadow: 5px 5px 5px 5px #4c4c4c5e; */
}

.circles > .circle:nth-child(1){
    background-color: #F75249;
}
.circles > .circle:nth-child(2){
    background-color: #f1ae2b;
}
.circles > .circle:nth-child(3){
    background-color: #299539;
}
.circles > .circle + .circle {
    margin-left: 10px;
}

.black * {
    color: #fff;
}

.nanum * {
    font-family: 'NanumBarunGothic';
    font-weight: bold;
}


.fade{
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s;
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.change {
    -webkit-animation: pageUp .5s ease-out both;
    animation: pageUp .5s ease-out both;
}

@-webkit-keyframes pageUp {
    0%{
        transform: translateY(20%);
        /* opacity:0; */
      }
      /* 50%{
        transform: translateX(50%);
      } */
      100%{
        transform: translateY(0);
        /* opacity:1; */
      }
}

/* ------------ index -------------- */
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1380px;
}

/* ------------ header -------------- */ 

header {
    float: right;
    height: 100%;
    position: absolute;
    right: -35px;
    /* background: orange; */
}

header > nav > .gnb-menu > li {
    text-align: center;
}

header > nav > .gnb-menu > li + li { 
    margin-top: 20px;
}

header > nav > .gnb-menu > li > a {
    font-size: 1.15em;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    display: block;
}

header > nav > .gnb-menu > li > a > span {
    color: #fff;
    display: inline-block;
    padding:0 5px;
    border-radius: 5px;
}
header > nav > .gnb-menu > li.on > a > span {
    border: 2px dashed #696969;
}

body.black header > nav > .gnb-menu > li.on > a > span {
    border: 2px dashed #b9b9b9;
}

body.black header > nav > .gnb-menu > li > a > span{
    color: #3B3B3B;
}

header > nav > .gnb-menu > li > a > .gnb-icon {
    display: block;
    width:80px;
    height: 80px;
    background: url(../images/icons-folder-sky.png) no-repeat 50% 50%;
    background-size: contain;
    margin: 0 auto;
}

header > nav > .gnb-menu > li:hover > a > .gnb-icon,
header > nav > .gnb-menu > li.on > a > .gnb-icon {
    background-image: url(../images/icons-opened-folder-sky.png);
}

/* ------------ contact -------------- */
.contact {
    position: fixed;
    bottom:10px;
    left:22%;
    width:53%;
    /* transform: translateX(-50%); */
    z-index: 1000;
    text-align: center;
    background: #7070706b;
    border-radius: 15px;
    padding-top: 10px;
    background: #6767676b;
    /* display: none; */
}
.contact > ul {
    /* background: chocolate; */
    display: inline-block;
    /* margin: 0 auto; */

}
.contact > ul > li {
    float: left;
}
.contact > ul > li > a {
    /* background: violet; */
    display: block;
}
.contact > ul > li > a > i {
    /* border: 1px solid red; */
    width:110px;
    height:90px;
    display:block;
    background:no-repeat 50% 50%;
    background-size: contain;
}

.contact > ul > li > a > i.js {
    background-image: url(../images/icons_javascript.png);
}
.contact > ul > li > a > i.vuejs {
    background-image: url(../images/icons_vue_js.png);
}
.contact > ul > li > a > i.html {
    background-image: url(../images/icons_html.png);
}
.contact > ul > li > a > i.css {
    background-image: url(../images/icons_css3.png);
}
.contact > ul > li > a > i.github {
    background-image: url(../images/icons_github.png);
}
.contact > ul > li > a > i.jquery {
    background-image: url(../images/icons_jquery.png);
    width: 100px;
    height:80px
}

*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	width: auto;
    background-color: #3d3d3d;
}
*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}



/* ------------ main -------------- */
main {
    width:90%;
    float: left;
    height: 100%;
}

main > .section-wrap {
    /* basic버전 */
    /* background: linear-gradient(to bottom, #d2d2d2, #bfc0bf); */
    /* background-color: #d2d2d2; */
    height: 100%;
}


main > .section-wrap > section {
    padding-top: 50px;
    height: 100%;
    background-color: #d2d2d2;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    display: none;
}

body.black main > .section-wrap > section {
    background-color: #3d3d3d;
    box-shadow: 10px 10px 10px 10px #c0c0c0;
}

main > .section-wrap > section.active {
    display: block;
}

main > .section-wrap > section > h3 {
    position: absolute;
    transform: translateX(-50%);
    top:10px;
    left: 50%;
    font-size: 1.8em;
    font-family: 'Cafe24Ohsquare';
}

main > .section-wrap > section > .inner {
    height: 100%;
    position: relative;
    background-color: #fff;
}


/* ------------ intro -------------- */
main > .section-wrap > .intro {
}

main > .section-wrap > .intro > .inner {
    background: linear-gradient(to right,#fff 50%, #ffeb33 50%);
    background: linear-gradient(#fff 50%, #ffeb33 50%);
}

main > .section-wrap > .intro > .inner > .main-logo-box {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    /* border: 10px solid #ffeb33; */
    border: 10px solid #000098;
    padding: 30px;
    border-radius:10px;
    background-color: #ffeb33;
    box-shadow: 8px 8px 8px 8px #a0a0a06b;
    box-shadow: 8px 8px 8px 8px #61616140;
    background-color: #fff;
    /* transform: translateY(-50%);
    left: 10%; */
}

main > .section-wrap > .intro > .inner > .main-logo-box > h1 {
    font-size: 10em;
    letter-spacing: 3px;
    color: #000098;
    text-shadow: 5px 5px 5px #8c8c8c;
}

main > .section-wrap > .intro > .inner > .main-logo-box > h1 > .logo-icon {
    background: url(../images/emoji.png) no-repeat 50% 50%;
    width: 170px;
    height: 170px;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}

main > .section-wrap > .intro > .inner > .main-logo-box > .logo-txt {
    font-size: 2em;
    color: #000098;
    font-family: 'Cafe24Ohsquare';
    position: absolute;
}

main > .section-wrap > .intro > .inner > .main-logo-box > strong {
    top: -48px;
    right: 0;
}


main > .section-wrap > .intro > .inner > .main-logo-box > p {
    transform: rotateZ(270deg);
    left: -166px;
    top: 110px;
}

main > .section-wrap > .intro > .inner > .main-logo-box > span {
    bottom:-60px;
    left:0
}


/* ------------ about -------------- */
main > .section-wrap > .about {
    /* display: none; */
    /* background-color: #2c3e50; */
    /* background-color: #1e1e1e; */
}
main > .section-wrap > .about > .inner {
    padding:30px 50px 40px;
    overflow-y:scroll;
    background-color: #1e1e1e;
}
main > .section-wrap > .about > .inner > h3 {
    /* color:#fff */
}
main > .section-wrap > .about > .inner > .about-contents {
    /* background-color: darkcyan; */
    /* width: 50%;
    text-align: center; */
}
main > .section-wrap > .about > .inner > .about-contents > .sub-title {
    /* font-size:5em;
    font-family: 'Cafe24Ohsquare';
    margin-top: 50px;
    color:#000098 */
    /* background-color: linen; */
    /* position: absolute;
    top: 20px;
    left:30px;
    padding-right:100px; */
    /* background-color: blanchedalmond; */
    font-family: 'Cafe24Ohsquare';
    font-size:2.3em;
    /* color: #727272; */
    /* background-color:#38dc24; */
    /* display: inline-block; */
    /* padding: 5px 10px; */
    /* color: #659dcf; */
    /* font-size:3.5em; */
    /* color:#ffeb33; */
    /* color: #38dc24 */
    /* color: #000098; */
    /* color:#000098; */
    /* color:#fff; */
    /* color: #23ff18; */
}
main > .section-wrap > .about > .inner > .about-contents > .sub-title > b {
    /* background-color: chartreuse; */
    /* color:#38dc24; */
    /* color:#000098;
    background-color:#ffeb33; */
    /* padding: 5px 10px;
    color:#000098;
    background-color:#ffeb33; */
    position: relative;
    color: #3B3B3B;
    color:#fff;
    /* color: #23ff18; */
}

main > .section-wrap > .about > .inner > .about-contents > .sub-title > b::after{
    content: '';
    /* width: 10px;
    height: 90%;
    display: block;
    position: absolute;
    background-color: #474747;
    right:-15px;
    top: 0; */
}

main > .section-wrap > .about > .inner > .about-contents > .sub-title::after {
    
    /* content: '';
    height:7px; */
    /* background-color:#000098; */
    /* position: absolute;
    left:10px;
    bottom: 0;
    width: 100%; */
}
main > .section-wrap > .about > .inner > .about-contents > ul {
    /* border:1px solid yellow; */
    /* margin-top:30px; */
    /* margin-top: 10px; */
}
main > .section-wrap > .about > .inner > .about-contents > ul > li {
    font-size: 1.5em;
}


main > .section-wrap > .about > .inner > .about-me {
    /* background-color: darkcyan; */
    /* border-right: 5px dashed #000098; */
    /* background-color: #ffeb33; */
    font-family: 'NanumBarunGothic';
    font-weight: 700;
    /* 보라색 예쁨 */
    /* background-color: #bbc5ff; */
    display: none;
}
main > .section-wrap > .about > .inner > .about-me > .sub-title {
    /* color:#659dcf; */
    
}
main > .section-wrap > .about > .inner > .about-me > ul {}
main > .section-wrap > .about > .inner > .about-me > ul > li {
    /* color: #fff; */
    font-family: 'Cafe24Ohsquare';
    /* font-family: 'NanumBarunGothic'; */
    
}
main > .section-wrap > .about > .inner > .about-me > ul > li + li {
    margin-top: 10px;
}
main > .section-wrap > .about > .inner > .about-me > ul > li > span {}
main > .section-wrap > .about > .inner > .about-me > ul > li > .whatIs {
    /* color:#e38e42; */
    display: none;
    
}
main > .section-wrap > .about > .inner > .about-me > ul > li > .whatIs > b{
    /* background-color: cadetblue; */
    color:#38dc24;
}
main > .section-wrap > .about > .inner > .about-me > ul > li > .answer {
    /* color:#000098; */
    /* color:#38dc24 */
    font-size: 1.15em;
    /* color: #c87c47 */
}
main > .section-wrap > .about > .inner > .about-me > ul > li > a:hover {
    border-bottom: 3px solid #3B3B3B;
}
main > .section-wrap > .about > .inner > .about-me > ul > li > .answer > i {
    margin-right:5px;
}
main > .section-wrap > .about > .inner > .about-me > ul > li > a {
    /* color:#fff */
}
main > .section-wrap > .about > .inner > .about-me > ul > li > span {
    /* display:block; */
}

/* -------------------skills ------------------------- */
main > .section-wrap > .about > .inner > .skills {
    margin-top: 20px;
}
main > .section-wrap > .about > .inner > .skills > .sub-title {
    /* color:#000 */
    /* border:1px solid red; */
    display: inline-block;
    position: relative;
}
main > .section-wrap > .about > .inner > .skills > .sub-title > b {
    
    margin-left: 5px;
    /* color:#38dc24; */
    /* color: #000; */
}

main > .section-wrap > .about > .inner > .skills > .sub-title > .typing-icon {
    display: none;
}

main > .section-wrap > .about > .inner > .skills > .sub-title > .typing-icon.on {
    display: inline-block;
}



main > .section-wrap > .about > .inner > .skills > .sub-title::after{
    content: '';
    width: 10px;
    height:25px;
    position: absolute;
    background-color:#23ff18;
    right:-13px;
    top:7px;
    animation: cursor 1s infinite
    /* animation-duration: .8s; 
    animation-iteration-count: infinite;  */
}


@keyframes cursor{ 
    /* 0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff}  */
    0% { background-color: #1e1e1e;}
    50% {background-color:#23ff18}
    100% { background-color: #1e1e1e; }
  }

main > .section-wrap > .about > .inner > .skills > .skills-list {
    margin-top: 30px;
    opacity: 0;
    transition: 0.5s ease;
}

main > .section-wrap > .about > .inner > .skills > .skills-list.active {
    opacity: 1;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li {
    font-family: 'Cafe24Ohsquare';
    font-size: 2.3em;
    display: none;
}

main > .section-wrap > .about > .inner > .skills > .skills-list.active > li {
    display: block;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li + li {
    margin-top: 50px;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong {

}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo {
    background:no-repeat 50% 50%;
    width:40px;
    height:50px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin-right:10px;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.js {
    background-image:  url(../images/icons_javascript.png);
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.vue {
    background-image:  url(../images/icons_vue_js.png);
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.html {
    background-image:  url(../images/icons_html.png);
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.css {
    background-image:  url(../images/icons_css3.png);
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.github {
    background-image:  url(../images/icons_git.png);
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.jquery {
    background-image:  url(../images/icons_jquery.png);
    width:35px;
    height:45px;
    margin-right: 15px;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more {
    border: 1px dashed #23ff18;
    /* border: 1px dashed #000098; */
    width: 90%;
    padding:20px;
    margin-top: 30px;
    font-size:0.95em;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more > li + li {
    margin-top:15px
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more > li > span {
    color:#30A5AC;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more > li > span > i {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 0.8em;
    color:#30A5AC;
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more > li > p {
    font-size: 0.8em;
    margin-top:10px
}


.skills-icon {
    display: none;
}


/* ------------ portfolio -------------- */


main > .intro > .inner > .about > h3 {
    background-color: #4FA5AB;
    display: inline-block;
    border-radius: 7px;
    padding: 5px 10px;
    background: #2e2e2e;
    border-radius: 7px;
    color: #fff;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px #d9d9d9a1;
    
}
main > .intro > .inner > .about > ul {
    /* padding: 20px; */
    margin-top: 10px;
    padding: 0 10px;
}
main > .intro > .inner > .about > ul > li {
    /* border: 1px solid red; */
}
main > .intro > .inner > .about > ul > li + li {
    margin-top: 10px;
}
main > .intro > .inner > .about > ul > li > a {
    font-size:1.5em;
}

main > .intro > .inner > .about > ul > li > a > i {
    /* border: 1px solid blue; */
    display: inline-block;
    font-size:1.8em;
}
main > .intro > .inner > .skills {
    /* background-color: indianred; */
    /* border: 1px solid red; */
    /* float: left;
    width: 50%;
    text-align: center; */
    /* border: 1px solid red; */
    width: 80%;
    margin:50px auto 0;
    display: none;
    /* padding: 20px; */
}
main > .intro > .inner > .skills > h3 {
    /* display: inline-block;
    border-radius: 7px;
    background: #2e2e2e;
    border-radius: 7px;
    color: #fff;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px #d9d9d9a1; */
    font-size:3em;
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    border: 5px solid #bbc5ffd1;
    border-radius: 20px;
}
main > .intro > .inner > .skills > ul {
    margin-top: 50px;
    padding: 0 20px;
}
main > .intro > .inner > .skills > ul > li {
    padding-left: 40px;
    position: relative;
}
main > .intro > .inner > .skills > ul > li + li {
    margin-top: 20px;
    margin-top: 40px;
}
main > .intro > .inner > .skills > ul > li > strong {
    font-size: 1.9em;
    width: 150px;
    display: inline-block;
}

main > .intro > .inner > .skills > ul > li > strong > i {
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 6px;
}
main > .intro > .inner > .skills > ul > li > p {
    font-size: 1.6em;
    margin-top: 20px;
}

main > .intro > .inner > .skills > ul > li > .skills-sub {
    /* margin-top: 15px; */
    display:inline-block;
}

main > .intro > .inner > .skills > ul > li > .skills-sub > li {
    /* border: 1px solid red; */
    display: inline-block;
    font-size: 1.4em;
    padding: 5px 15px;
    background-color: #9198c4;
    background-color: #bbc5ff;
    border-radius: 10px;
    background-color: #bbc5ffa6;
}

main > .intro > .inner > .skills > ul > li > .skills-sub > li + li {

}


main > .portfolio-list {
    margin-top:150px;
    position: relative;
    /* background-color:lightpink */
    display: none;
}

main > .portfolio-list > .inner {
    /* background-color: orange; */
}
main > .portfolio-list > .inner > h3 {
    font-size:5em;
    text-align: center;
    position: relative;
    /* border: 1px solid red; */
}
main > .portfolio-list > .inner > h3::after {
    content: '';
    background-color: #3B3B3B;
    position: absolute;
    height: 7px;
    width: 50px;
    left: 50%;
    transform: translateX(-25px);
    top: -17px;

}

.title {
    font-size:5em;
    text-align: center;
    position: relative;
}
.title::after {
    content: '';
    background-color: #3B3B3B;
    position: absolute;
    height: 7px;
    width: 50px;
    left: 50%;
    transform: translateX(-25px);
    top: -17px;
}

.intro > .inner > strong {
    /* color:#4ce6ee; */
    font-family: 'Cafe24Ohsquare';
    /* font-size: 5em; */
}

.intro > .inner > p {
    /* color: #fff7af; */
    font-family: 'Cafe24Ohsquare';
    /* font-size: 5em; */
}