/* ------------ common -------------- */ 
.clear::after {
    content: '';
    clear: both;
    display: block;
}

.circles {
    position: absolute;
    top: 14px;
    left: 25px;
}
.circles > .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: transparent;
    /* box-shadow: 5px 5px 5px 5px #4c4c4c5e; */
}

.circles > .circle:nth-child(1){
    background-color: #F75249;
}
.circles > .circle:nth-child(2){
    background-color: #f1ae2b;
}
.circles > .circle:nth-child(3){
    background-color: #299539;
}
.circles > .circle + .circle {
    margin-left: 10px;
}

.black * {
    color: #fff;
}

.nanum * {
    font-family: 'NanumBarunGothic';
    font-weight: bold;
}

.dunggeunmo *{
    font-family: 'DungGeunMo';
    font-weight: bold;
}

.fade{
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s;
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.change {
    -webkit-animation: pageUp .5s ease-out both;
    animation: pageUp .5s ease-out both;
}

@-webkit-keyframes pageUp {
    0%{
        transform: translateY(20%);
        /* opacity:0; */
      }
      /* 50%{
        transform: translateX(50%);
      } */
      100%{
        transform: translateY(0);
        /* opacity:1; */
      }
}

/* ------------ index -------------- */
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: calc(600px - 4%);
    max-width: 1350px;
    min-width: 400px;
    margin: 0 auto;
    /* border: 1px solid red; */
    /* overflow: hidden; */
    /* margin: 0 auto;
    max-width: 1380px; */
}

/* ------------ header -------------- */ 

header {
    float: right;
    height: 100%;
    /* position: absolute;
    right: -35px; */
    /* background: orange; */
}

header > nav > .gnb-menu > li {
    text-align: center;
}

header > nav > .gnb-menu > li + li { 
    margin-top: 20px;
}

header > nav > .gnb-menu > li > a {
    font-size: 1.15em;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    display: block;
}

header > nav > .gnb-menu > li > a > span {
    color: #fff;
    display: inline-block;
    padding:0 5px;
    border-radius: 5px;
}
header > nav > .gnb-menu > li.on > a > span {
    border: 2px dashed #696969;
}

body.black header > nav > .gnb-menu > li.on > a > span {
    border: 2px dashed #b9b9b9;
}

body.black header > nav > .gnb-menu > li > a > span{
    color: #3B3B3B;
}

header > nav > .gnb-menu > li > a > .gnb-icon {
    display: block;
    width:70px;
    height:70px;
    background: url(../images/icons-folder-sky.png) no-repeat 50% 50%;
    background-size: contain;
    margin: 0 auto;
}
header > nav > .gnb-menu > li.contact > a > .gnb-icon {
    background-image: url(../images/icons-code-file.png);
    margin-bottom:10px;
}

header > nav > .gnb-menu > li.contact:hover > a > .gnb-icon {
    background-image: url(../images/icons-code-file.png);
}

header > nav > .gnb-menu > li:hover > a > .gnb-icon,
header > nav > .gnb-menu > li.on > a > .gnb-icon {
    background-image: url(../images/icons-opened-folder-sky.png);
}

.mobile-header {
    display: none;
}

/* ------------ contact -------------- */
/* .contact {
    position: fixed;
    bottom:10px;
    left:22%;
    width:53%;
    z-index: 1000;
    text-align: center;
    background: #7070706b;
    border-radius: 15px;
    padding-top: 10px;
    background: #6767676b;
    display: none;
}
.contact > ul {
    display: inline-block;

}
.contact > ul > li {
    float: left;
}
.contact > ul > li > a {
    display: block;
}
.contact > ul > li > a > i {
    width:110px;
    height:90px;
    display:block;
    background:no-repeat 50% 50%;
    background-size: contain;
} */


*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	width: auto;
    background-color: #3d3d3d;
}
*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.frame {
    overflow: hidden;
    border-radius: 15px;
    padding-top: 40px;
    background-color: #3d3d3d;
    position: relative;
    background-color: #384152;
}
.frame-inner {
    background-color: #1e1e1e;
    background-color: #161d2d;
    height: 50vh;
}

.frame::before, .frame::after, .frame-inner::before {
    content: '';
    position: absolute;
    top: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.frame::before {
    content: '';
    background-color: #F75249;
    left: 20px;
}

.frame::after {
    content: '';
    background-color: #f1ae2b;
    left: 43px;
}
.frame-inner::before {
    content: '';
    background-color: #299539;
    left: 67px;
}




/* ------------ main -------------- */
main {
    width:90%;
    float: left;
    height: 100%;
    /* border: 1px solid lime; */
}

main > .section-wrap {
    /* basic버전 */
    /* background: linear-gradient(to bottom, #d2d2d2, #bfc0bf); */
    /* background-color: #d2d2d2; */
    height: 100%;
    /* min-width: 1200px;
    max-width: 1250px; */
}


main > .section-wrap > section {
    padding-top: 50px;
    height: 100%;
    background-color: #d2d2d2;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    box-shadow: 14px 12px 10px 5px #0000007a;
    display: none;
}

body.black main > .section-wrap > section {
    background-color: #3d3d3d;
    box-shadow: 10px 10px 10px 10px #c0c0c0;
}

main > .section-wrap > section.active {
    display: block;
}

main > .section-wrap > section > h3 {
    position: absolute;
    transform: translateX(-50%);
    top:10px;
    left: 50%;
    font-size: 1.8em;
    font-family: 'Cafe24Ohsquare';
}

main > .section-wrap > section > .inner {
    height: 100%;
    position: relative;
    background-color: #fff;
}


/* ------------ intro -------------- */
main > .section-wrap > .intro {
}

main > .section-wrap > .intro > .inner {
    background: linear-gradient(#fff 50%, #ffeb33 50%);
    min-height: 580px;
}

main > .section-wrap > .intro > .inner > .main-logo-box {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border: 10px solid #000098;
    padding:1.5% 3%;
    border-radius:10px;
    background-color: #ffeb33;
    box-shadow: 8px 8px 8px 8px #61616140;
    background-color: #fff;
    width: 50%;
    min-width: 500px;
    max-width: 500px;
}

main > .section-wrap > .intro > .inner > .main-logo-box > h1 {
    text-shadow: 5px 5px 5px #8c8c8c;
    text-align: center;
}

main > .section-wrap > .intro > .inner > .main-logo-box > h1 > span {
    font-size: 10em;
    color: #000098;
}

main > .section-wrap > .intro > .inner > .main-logo-box > h1 > .folio {
    letter-spacing:7px;
}

main > .section-wrap > .intro > .inner > .main-logo-box > h1 > .rt {
    margin-left: -10px;
} 

main > .section-wrap > .intro > .inner > .main-logo-box > h1 > .logo-icon {
    background: url(../images/emoji.png) no-repeat 0 0;
    width: 170px;
    height: 170px;
    background-size:contain;
    display: inline-block;
    vertical-align:top;
    margin-left: -10px;
}

main > .section-wrap > .intro > .inner > .main-logo-box > .logo-txt {
    font-size: 2em;
    color: #000098;
    position: absolute;
}

main > .section-wrap > .intro > .inner > .main-logo-box > strong {
    top: -48px;
    right: 0;
}

main > .section-wrap > .intro > .inner > .main-logo-box > p {
    transform: rotateZ(270deg);
    left: -166px;
    bottom: 117px;
}



/* ------------ about -------------- */
main > .section-wrap > .about {
    /* display: none; */
    /* background-color: #2c3e50; */
    /* background-color: #1e1e1e; */
}
main > .section-wrap > .about > .inner {
    padding:30px 50px 40px;
    overflow-y:scroll;
    background-color: #1e1e1e;
}

main > .section-wrap > .about > .inner::-webkit-scrollbar {
	width: 10px;
}
main > .section-wrap > .about > .inner::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-color: #3d3d3d;
}

main > .section-wrap > .about > .inner > h3 {
    /* color:#fff */
}
main > .section-wrap > .about > .inner > .about-contents {
    /* background-color: darkcyan; */
    /* width: 50%;
    text-align: center; */
}
main > .section-wrap > .about > .inner > .about-contents > .sub-title {
    /* font-size:5em;
    font-family: 'Cafe24Ohsquare';
    margin-top: 50px;
    color:#000098 */
    /* background-color: linen; */
    /* position: absolute;
    top: 20px;
    left:30px;
    padding-right:100px; */
    /* background-color: blanchedalmond; */
    font-family: 'Cafe24Ohsquare';
    font-size:2.3em;
    /* color: #727272; */
    /* background-color:#38dc24; */
    /* display: inline-block; */
    /* padding: 5px 10px; */
    /* color: #659dcf; */
    /* font-size:3.5em; */
    /* color:#ffeb33; */
    /* color: #38dc24 */
    /* color: #000098; */
    /* color:#000098; */
    /* color:#fff; */
    /* color: #23ff18; */
}
main > .section-wrap > .about > .inner > .about-contents > .sub-title > b {
    /* background-color: chartreuse; */
    /* color:#38dc24; */
    /* color:#000098;
    background-color:#ffeb33; */
    /* padding: 5px 10px;
    color:#000098;
    background-color:#ffeb33; */
    position: relative;
    color: #3B3B3B;
    color:#fff;
    /* color: #23ff18; */
}

main > .section-wrap > .about > .inner > .about-contents > .sub-title > b::after{
    content: '';
    /* width: 10px;
    height: 90%;
    display: block;
    position: absolute;
    background-color: #474747;
    right:-15px;
    top: 0; */
}

main > .section-wrap > .about > .inner > .about-contents > .sub-title::after {
    
    /* content: '';
    height:7px; */
    /* background-color:#000098; */
    /* position: absolute;
    left:10px;
    bottom: 0;
    width: 100%; */
}
main > .section-wrap > .about > .inner > .about-contents > ul {
    /* border:1px solid yellow; */
    /* margin-top:30px; */
    /* margin-top: 10px; */
}
main > .section-wrap > .about > .inner > .about-contents > ul > li {
    font-size: 1.5em;
}


main > .section-wrap > .about > .inner > .about-me {
    /* background-color: darkcyan; */
    /* border-right: 5px dashed #000098; */
    /* background-color: #ffeb33; */
    font-family: 'NanumBarunGothic';
    font-weight: 700;
    /* 보라색 예쁨 */
    /* background-color: #bbc5ff; */
    display: none;
}
main > .section-wrap > .about > .inner > .about-me > .sub-title {
    /* color:#659dcf; */
    
}
main > .section-wrap > .about > .inner > .about-me > ul {}
main > .section-wrap > .about > .inner > .about-me > ul > li {
    /* color: #fff; */
    font-family: 'Cafe24Ohsquare';
    /* font-family: 'NanumBarunGothic'; */
    
}
main > .section-wrap > .about > .inner > .about-me > ul > li + li {
    margin-top: 10px;
}
main > .section-wrap > .about > .inner > .about-me > ul > li > span {}
main > .section-wrap > .about > .inner > .about-me > ul > li > .whatIs {
    /* color:#e38e42; */
    display: none;
    
}
main > .section-wrap > .about > .inner > .about-me > ul > li > .whatIs > b{
    /* background-color: cadetblue; */
    color:#38dc24;
}
main > .section-wrap > .about > .inner > .about-me > ul > li > .answer {
    /* color:#000098; */
    /* color:#38dc24 */
    font-size: 1.15em;
    /* color: #c87c47 */
}
main > .section-wrap > .about > .inner > .about-me > ul > li > a:hover {
    border-bottom: 3px solid #3B3B3B;
}
main > .section-wrap > .about > .inner > .about-me > ul > li > .answer > i {
    margin-right:5px;
}
main > .section-wrap > .about > .inner > .about-me > ul > li > a {
    /* color:#fff */
}
main > .section-wrap > .about > .inner > .about-me > ul > li > span {
    /* display:block; */
}

/* -------------------skills ------------------------- */
main > .section-wrap > .about > .inner > .skills {
    margin-top: 20px;
}
main > .section-wrap > .about > .inner > .skills > .sub-title {
    /* color:#000 */
    /* border:1px solid red; */
    display: inline-block;
    position: relative;
}
main > .section-wrap > .about > .inner > .skills > .sub-title > b {
    
    margin-left: 5px;
    /* color:#38dc24; */
    /* color: #000; */
}

main > .section-wrap > .about > .inner > .skills > .sub-title > .typing-icon {
    display: none;
}

main > .section-wrap > .about > .inner > .skills > .sub-title > .typing-icon.on {
    display: inline-block;
}



main > .section-wrap > .about > .inner > .skills > .sub-title::after{
    content: '';
    width: 10px;
    height:25px;
    position: absolute;
    background-color:#23ff18;
    right:-13px;
    top:7px;
    animation: cursor 1s infinite
    /* animation-duration: .8s; 
    animation-iteration-count: infinite;  */
}


@keyframes cursor{
    0% { background-color: #1e1e1e;}
    50% {background-color:#23ff18}
    100% { background-color: #1e1e1e; }
}

main > .section-wrap > .about > .inner > .skills > .skills-list {
    margin-top: 30px;
    opacity: 0;
    transition: 0.5s ease;
}

main > .section-wrap > .about > .inner > .skills > .skills-list.active {
    opacity: 1;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li {
    font-family: 'Cafe24Ohsquare';
    font-size: 2.3em;
    display: none;
}

main > .section-wrap > .about > .inner > .skills > .skills-list.active > li {
    display: block;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li + li {
    margin-top: 50px;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong {

}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo {
    background:no-repeat 50% 50%;
    width:40px;
    height:50px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin-right:10px;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.js {
    background-image:  url(../images/icons_javascript.png);
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.vue {
    background-image:  url(../images/icons_vue_js.png);
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.html {
    background-image:  url(../images/icons_html.png);
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.css {
    background-image:  url(../images/icons_css3.png);
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.github {
    background-image:  url(../images/icons_git.png);
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.jquery {
    background-image:  url(../images/icons_jquery.png);
    width:35px;
    height:45px;
    margin-right: 15px;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more {
    border: 1px dashed #23ff18;
    /* border: 1px dashed #000098; */
    width: 90%;
    padding:20px;
    margin-top: 30px;
    font-size:0.95em;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more > li + li {
    margin-top:15px
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more > li > span {
    color:#30A5AC;
}

main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more > li > span > i {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 0.8em;
    color:#30A5AC;
}
main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more > li > p {
    font-size: 0.8em;
    margin-top:10px
}


.skills-icon {
    display: none;
}


/* ------------ portfolio -------------- */
.portfolio {
    /* display: block; */
}


.portfolio > .inner {
    padding:50px 50px 80px;
    overflow-y: scroll;
}

.inner::-webkit-scrollbar {
    width: 8px;
}

.inner::-webkit-scrollbar-thumb {
    background-color: #b7b6b6;
}

.portfolio > .inner > .portfolio-contents {
    /* background-color: lightpink; */
    /* text-align: center; */
}

.portfolio > .inner > .portfolio-contents > h4 {
    font-size: 2.8em;
    position: relative;
    display: inline-block;
    color: #000098;
  /* display: none; */
  /* background-color: #ffeb33;
    background-image: linear-gradient(90deg, rgba(0,0,0,.5) 50%, transparent 50%), linear-gradient(rgba(0,0,0,.5) 50%, transparent 50%);
    background-size: 50px 50px; 
    background: #ffeb33;*/
    font-family: 'DungGeunMo';
    font-weight: bold;
    margin-left: 10px;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list {
    width:100%;
    padding: 20px 0;
    text-align: center;
    /* border: 1px solid yellow; */
}

.portfolio > .inner > .portfolio-contents > .portfolio-list + .portfolio-list {
    margin-top:150px;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .half {
    width:50%

}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .half > .caption {
    color: #fff;
    font-size: 1.4em;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'NanumBarunGothic';
    font-weight: bold;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list.left > .img-area {
    float: left;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list.left > .txt-area {
    float:right;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list.right > .img-area {
    float: right;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list.right > .txt-area {
    float:left;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .img-area {
    /* border: 1px solid tomato; */
    /* border: 5px solid #0a0a0a;
    border: 5px solid #787878; */
    box-shadow: 9px 19px 10px 10px #c7c7c7a3;
}
.portfolio > .inner > .portfolio-contents > .portfolio-list.right > .img-area {
    box-shadow: rgba(199, 199, 199, 0.64) -20px 13px 10px 10px;
    /* min-width:500px; */
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .img-area > .site-link {
    /* height: 100%; */
    display: block;
    padding:10px 10px 0;
    overflow-y: scroll;
}

.site-link::-webkit-scrollbar {
	width: 5px;
}

.site-link::-webkit-scrollbar-thumb {
	border-radius: unset;
	width: auto;
    background-color: #384152;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .img-area > .site-link > .link-message {
    position: absolute;
    color: #fff;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3em;
    /* font-family: 'DungGeunMo'; */
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    opacity: 0;
    transition: 0.18s 0.0833333333s;
}
.portfolio > .inner > .portfolio-contents > .portfolio-list > .img-area > .site-link:hover > .link-message {
    opacity: 1;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .img-area > .site-link > img {
    max-width: 100%;
    height: auto;
    /* border-radius: 5px; */

}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area {
    /* border: 1px solid lime; */
    position: relative;
}



.portfolio > .inner > .portfolio-contents > .portfolio-list.right > .txt-area {
    /* border: 1px solid red; */
}
.portfolio > .inner > .portfolio-contents > .portfolio-list.right > .img-area {
    /* margin-left: 50px; */
}
.portfolio > .inner > .portfolio-contents > .portfolio-list.left > .txt-area {
    
    /* border: 1px solid blue; */
    /* margin-left: 50px; */
    /* padding-left:50px; */

}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area > .headline {

    /* border: 1px solid red; */
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area > .headline > .version {
    font-size: 1.9em;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    background: linear-gradient(#fff 50%, #fff381 50%);
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area > .headline > .pf-title{
    font-size:4em;
    /* position: relative; */
    /* border: 1px solid blue; */
    color: #000;
    margin-right: 10px;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area > .headline > .light-headline {
    font-size:1.3em;
    margin-top:20px;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area > .headline > .light-headline > li {
    display: inline-block;
    border:3px solid #bababa;
    border-radius: 30px;
    padding:5px 10px;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area > .headline > .light-headline > li + li {
    margin-left: 5px;
}
.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area > .pf-desc {
    margin-top: 10px;
    font-size: 1.5em;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    margin-top: 30px;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area > .btn-box {
    /* border: 1px solid red; */
    margin-top: 50px;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area > .btn-box > button {
    border: none;
    background-color: transparent;
    padding:15px 60px;
    /* font-size:1.5em; */
    font-size: 2em;
    transition: 0.2s 0.0833333333s;
    /* border: 5px solid;
    border-image:linear-gradient(-90deg,#000098 -50%,#ffeb33 150%);
    border-image-slice:3 */
    border-radius: 50px;
    background: #000098;
    font-family: 'DungGeunMo';
    /* font-family: 'Cafe24Ohsquare'; */
    letter-spacing: 2px;
    box-shadow:10px -7px 0px 0px #ffeb33;
    color: #ffeb33;
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area > .btn-box > button:hover {
    box-shadow: none;
    transform: translateY(-5px);
}

.portfolio > .inner > .portfolio-contents > .portfolio-list > .txt-area > .btn-box > button::hover {
    
}


.portfolio > .inner > .portfolio-contents.website {
    margin-top: 100px;
}
.portfolio > .inner > .portfolio-contents.website > .portfolio-list > .txt-area > .headline > .pf-title {

}
.portfolio > .inner > .portfolio-contents.website > .portfolio-list > .txt-area > .btn-box {
    /* border: 1px soli black; */
    width:90%;
    margin:50px auto 0
}
.portfolio > .inner > .portfolio-contents.website > .portfolio-list > .txt-area > .btn-box > button {
    width:calc(33.333333% - 30px);;
    padding: 15px 20px;
}
.portfolio > .inner > .portfolio-contents.website > .portfolio-list > .txt-area > .btn-box > button + button {
    margin-left: 15px;
}


/* ------------ contact -------------- */
.section-wrap {
    position: relative;
}
.section-wrap > .contact {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 400px;
    transform: translate(-50%,-50%);
    background-color:#bfc0bf;
    box-shadow: none;
    -webkit-animation: up .5s ease-out both;
    animation: up .5s ease-out both;
}

@-webkit-keyframes up {
    0%{
        transform: translate(100%,100%);
        /* opacity:0; */
      }
      /* 50%{
        transform: translateX(50%);
      } */
      100%{
        transform: translate(-50%,-50%);
        /* opacity:1; */
      }
}

body.black main > .section-wrap > .contact {
    box-shadow: none;
    background-color:#bfc0bf;
}

body.black main .section-wrap > .contact > h3 {
    color: #3B3B3B;
}
.section-wrap > .contact > .inner {
    background-color: #1e1e1e;
    padding: 20px;
}

body.black main > .section-wrap > .contact > .inner {
    background-color:#fff;

}

.section-wrap > .contact > .inner > .contact-list {

}
.section-wrap > .contact > .inner > .contact-list > p {
    font-size: 3em;
    color: #fff;
    font-family: 'DungGeunMo';
}

body.black main > .section-wrap > .contact > .inner > .contact-list > p {
    color: #3B3B3B;
    font-weight: bold;
    
}

.section-wrap > .contact > .inner > .contact-list > ul {
    /* border: 1px solid lime; */
    margin-top: 20px;
}
.section-wrap > .contact > .inner > .contact-list > ul > li {
    /* border: 1px solid lime; */
    display: inline-block;
}
.section-wrap > .contact > .inner > .contact-list > ul > li + li {
    margin-top: 10px;
}
.section-wrap > .contact > .inner > .contact-list > ul > li > a {
    color: #fff;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-family: 'DungGeunMo';
}

body.black main > .section-wrap > .contact > .inner > .contact-list > ul > li > a {
    color: #3B3B3B;
    font-weight: bold;
}

.section-wrap > .contact > .inner > .contact-list > ul > li > a > span {
    color: #fff;
}

body.black main > .section-wrap > .contact > .inner > .contact-list > ul > li > a > span {
    color: #3B3B3B;
    
}
.section-wrap > .contact > .inner > .contact-list > ul > li:hover > a > span {
    background-color: #fff;
    color: #3B3B3B;
    font-weight: bold;
}
body.black main > .section-wrap > .contact > .inner > .contact-list > ul > li:hover > a > span {
    background-color: #3B3B3B;
    color: #fff;
}

.section-wrap > .contact > .inner > .contact-list > ul > li:hover > a {
    /* background-color: white; */
    
}
.section-wrap > .contact > .inner > .contact-list > ul > li > a > i {
    margin-right: 15px;
}

.section-wrap > .contact > .circles > .circle {
    position: relative;
}
.section-wrap > .contact > .circles > .circle > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #535353;
    display: none;
}
.section-wrap > .contact > .circles > .circle:hover > i {
    display: block;
}


/* ------------ loading -------------- */ 
.loading-area {
    background-color:#000098;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


.loading-area > .loading-wrap {
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width:500px; */
    width: 40%;
    height: 70px;
    border: 5px solid #fff;
    padding: 5px;
}

.loading-area > .loading-wrap > .loading-bar {
    background: #fff;
    width:40%;
    /* width: 100%; */
    height: 100%;
    transition: 0.5s;
}

.loading-area > .loading-wrap > p {
    position: absolute;
    top: -60px;
    font-size: 2.5em;
    left: 10px;
    color:#fff;
    letter-spacing: 2px;
}

.loading-area > .loading-wrap > span {
    position: absolute;
    top: -1px;
    font-size: 3em;
    left: 18px;
    color: #000098;
}

.txt-ani {
    animation: textMotion 1s infinite
}


@keyframes textMotion {
    0% { color: #fff;}
    50% {color: #000098}
    100% { color: #fff; }
}

/*
    1. pc : 1024px ~
    2. 테블릿 가로, 테블릿 세로 : 768px ~ 1023px
    3. 모바일 가로, 모바일 세로 : ~ 768px
*/

/* ------------ 태블릿 ------------*/
@media screen and (max-width:1023px) {
    body {
        /* background-color: palevioletred !important; */
    }

    /*---------header-----------*/
    header {
        position: fixed;
        bottom: 15px;
        z-index: 1000;
        height: auto;
        text-align: center;
        background: #3939396b;
        border-radius: 20px;
        width:50%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 0;
        float: none;
    }

    header > nav > .gnb-menu > li {
        display: inline-block;
    }

    header > nav > .gnb-menu > li > a > .gnb-icon {
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
    }

    header > nav > .gnb-menu > li.contact > a > .gnb-icon {
        margin-bottom: 5px;
    }

    header > nav > .gnb-menu > li + li {
        margin-top:0;
        margin-left:15px;
    }

    body.black header > nav > .gnb-menu > li > a > span {
        color:#fff
    }

    main {
        width: 100%;
        float: none;
    }
    .section-wrap {
        /* border: 1px solid red; */
    }

    /*--------- intro -----------*/
    main > .section-wrap > .intro > .inner {
        /* min-width: 380px; */
    }

    main > .section-wrap > .intro > .inner > .main-logo-box {
        padding: 4% 2%;
        min-width: 400px;
        max-width: 420px;
    }

    main > .section-wrap > .intro > .inner > .main-logo-box > h1 > span {
        font-size: 7.5em;
    }

    main > .section-wrap > .intro > .inner > .main-logo-box > h1 > .logo-icon {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: -5px;
    }

    main > .section-wrap > .intro > .inner > .main-logo-box > h1 > .rt {
        margin-left: -5px;
    }

    main > .section-wrap > .intro > .inner > .main-logo-box > h1 > .folio {
        letter-spacing: 4px;
    }

    main > .section-wrap > .intro > .inner > .main-logo-box > .logo-txt {
        font-size: 1.5em;
    }

    main > .section-wrap > .intro > .inner > .main-logo-box > strong {
        top:-38px
    }

    main > .section-wrap > .intro > .inner > .main-logo-box > p {
        left: -125px;
        bottom: 90px;
    }



    /*--------- about -----------*/
    .typing-title {
        display: none;
    }

    /*--------- loading -----------*/
    .loading-area {
        z-index: 1000;
    }

    .loading-area > .loading-wrap {
        width: 50%;
        height: 60px;
    }
    
    .loading-area > .loading-wrap > p {
        top: -41px;
        font-size: 1.5em;
    }

    .loading-area > .loading-wrap > span {
        top: 50%;
        font-size: 1.5em;
        transform: translateY(-50%);
    }

}

/* ------------ 모바일 ------------*/
@media screen and (max-width:768px) {
    body {
        /* background-color: peachpuff !important; */
        padding: 1.5% 2%;
    }

    /*--------- header -----------*/
    header { 
        display: none;
    }

    .mobile-header {
        display: block;
        height:5%;
        width: 100%;
        padding: 0 20px;
    }

    .mobile-header  > .m-gnb-menu {
        text-align: right;
    }
    .mobile-header  > .m-gnb-menu > ul {}
    .mobile-header  > .m-gnb-menu > ul > li {
        display: inline-block;
    }
    .mobile-header  > .m-gnb-menu > ul > li + li {
        margin-left: 10px;
    }
    .mobile-header  > .m-gnb-menu > ul > li > a {
        font-size: 1.5em;
        color: #fff;
        letter-spacing: 1.2px;
    }

    body.black .mobile-header > .m-gnb-menu > ul > li > a {
        color: #3B3B3B;
    }

    main {
        height: 95%;
    }


    main > .section-wrap > section > h3 {
        font-size: 1.5em;
        top: 12px;
    }
    


    /*--------- intro -----------*/
    main > .section-wrap > .about > .inner {
        padding: 30px 20px;
    }

    main > .section-wrap > .about > .inner > .skills { 
        margin-top: 0;
    }

    main > .section-wrap > .about > .inner > .skills > .sub-title {
        font-size: 1.5em;
    }

    main > .section-wrap > .about > .inner > .skills > .sub-title::after {
        right: -12px;
        top: 4px;
        width: 8px;
        height: 17px;
    }

    main > .section-wrap > .about > .inner > .skills > .skills-list {
        text-align: center;
        margin-top: 20px;

    }

    main > .section-wrap > .about > .inner > .skills > .skills-list > li {
        font-size: 1.6em;
    }

    main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

    main > .section-wrap > .about > .inner > .skills > .skills-list > li > strong > .skill-logo.jquery {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more { 
        margin-top: 15px;
        font-size: 0.8em;
        width: 100%;
        padding: 20px;
    }

    main > .section-wrap > .about > .inner > .skills > .skills-list > li > .skills-more > li > span > i {
        margin-right: 5px;
        font-size: 0.8em;
    }

    main > .section-wrap > .about > .inner::-webkit-scrollbar {
        width: 7px;
    }

    /*--------- loading -----------*/
    .loading-area {
        
    }

    .loading-area > .loading-wrap {
        width: 60%;
        height: 45px;
    }
    
    .loading-area > .loading-wrap > p {
        font-size: 0.9em;
        top: -30px;
        left: 5px;

    }

    .loading-area > .loading-wrap > span {
        font-size: 1.15em;
    }

}
