* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    background: #607D8B;
}
input,button {
    background-color: unset;
    border: unset;
    color: #fff;
}

ul,ol,li {
    list-style: none;
}

button {
    color: #fff;
    padding: 10px 30px;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px #3f3f3fc4;
    background-color: cornflowerblue;

}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.wrap {
    width:400px;
    background-color: burlywood;
    margin: 100px auto 0;
    text-align: center;
    background-color: #000;
    padding: 20px 10px;
    border-radius: 10px;
}

.wrap > div + div {
    margin-top: 10px;
}

